.container-fluid{
  background: url('../images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: sans-serif;
}






h1{
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  margin: 20px;
}

p{
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;

}
  /* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }