@import url('https://fonts.googleapis.com/css?family=Lalezar');
@import url('https://fonts.googleapis.com/css?family=Wellfleet');
@import url('https://fonts.googleapis.com/css?family=New+Rocker');


#Disney{
  margin: 20px;
}

body{
  background: url('../images/background.jpg')fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: sans-serif;
}

#startme {
  border-radius: 50%;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px 10px 20px;
}

.row{
  margin-bottom: 10px;
}

#timerDisplay{
font-family: 'Lalezar', cursive;;
font-size: 30px;
}

h1{
  font-family: 'Wellfleet', cursive;
  font-size: 60px;
  margin: 20px;
}

p{
  font-family: 'Wellfleet', cursive;
  font-size: 35px;

}

#question{
  margin: 20px;
  font-family: 'New Rocker', cursive;
  font-size: 50px;

  }

#score{
  font-family: 'Lalezar', cursive;;
  font-size: 30px;

}

  /* Large desktop */

@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }